body{
    position: relative;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/rapidos.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.48;
    z-index: -1;
}

.emoji {
    font-family: 'Noto Color Emoji', 'Segoe UI Emoji', system-ui, sans-serif;
  }
header {

    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sideMenu{
    background-color: rgb(224, 255, 255, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 65px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 30px;
    transition: 1s;
  
}
.sideMenuOpen{
    border-bottom-right-radius: 0px;
}
.arrow{
    position: absolute;
    top: 90px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 234, 243);

}
.wrapperTop{
    height: 100px;
    margin-top: 3px;
}
.wrapperIconText{
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;

}
.wrapperIconText i{
    font-size: 1.7em;
    transition: 0.5s;
    padding: 10px;
}
.wrapperIconText i:hover{
    background-color: rgb(180, 208, 219);
    transform: scale(1.15);
}
.flexMenuIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    position: absolute;
    left: 65px;
    top: 0;
    bottom: 0;
    background-color: rgb(126, 218, 218, 0.6);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0,0.1);
    overflow: hidden;
    width: 0;
}
.line{
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.menu .wrapperIconText:last-child::after{
    content:"";
    height: 0.8px;
    background: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.menuText{
    font-weight: 200;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
}
.menuText:hover{
    transform: scale(1.1);
    background-color: rgba(117, 182, 182, 0.6);
}
.sichtbar{
    animation: show 0.8s linear forwards;
    padding: 0 10px;
}
@keyframes show{
    0%{width: 0;}
    100% {width: 200px;}
}
.sichtbarRev{
    animation: showRev 0.8s linear forwards;
    padding: 0;
}
@keyframes showRev{
    0% {width: 200px;}
    100% {width: 0;}
}
.arrowMove{
    animation: arrowMo 0.8s linear forwards;
}
@keyframes arrowMo {
    0%{right: -15px; transform: rotate(0);}
    100% {right: -215px; transform: rotate(180deg);}
}
.arrowMoveRev{
    animation: arrowMoRev 0.8s linear forwards;
}
@keyframes arrowMoRev {
    0%{right: -215px; transform: rotate(180deg);}
    100% {right: -15px; transform: rotate(0deg);}
}


.emoji{ 
  position: fixed;
  right: 0;
  margin-right: 15px;
  background-color: rgb(204, 234, 243);
}
nav{
    display: flex;
    flex-direction: column;
}
main{
    text-align: center;
    color: rgb(6, 4, 21);
    margin-top: 80px;
}
main h1{
    font-size: 3em;
}
.options{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100px;
}
.actWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.act{
    width: 50%;
    margin-top: 100px;
}
  